@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
    --bg-color: #191919;
    --text-color: #fff4df;

    --bg-gradient-angle: 135deg;
    --bg-gradient-width: 20px;
    --bg-gradient-spacing: 40px;
    --bg-gradient-offset: 0px;

    --background-gradient: repeating-linear-gradient(
        var(--bg-gradient-angle),
        var(--bg-color) var(--bg-gradient-offset),
        var(--bg-color) calc(var(--bg-gradient-offset) + var(--bg-gradient-width)),
        color-mix(in srgb, var(--bg-color), white 1%)
            calc(var(--bg-gradient-offset) + var(--bg-gradient-width)),
        color-mix(in srgb, var(--bg-color), white 1%)
            calc(var(--bg-gradient-offset) + var(--bg-gradient-width) + var(--bg-gradient-spacing))
    );

    --header-height: 60px;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: var(--bg-color);
    background-attachment: local;
    color: var(--text-color);
    box-sizing: border-box;
    overflow: hidden;
}
